.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: papayawhip;
  border: 2px solid green;
  width: 1000px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  padding-bottom: 20px;
  margin-top: 10px;
}

.form input {
  width: 700px;
  height: 55px;
  margin: 5px;
  font-size: 25px;
}

.form label {
  font-weight: bold;
  font-size: 34px;
  color: black;
  margin-top: none;
}

button {
  width: 300px;
  height: 40px;
  font-size: 26px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #1888ff;
}
.table {
  margin-left: auto;
  margin-right: auto;
}
.customerlist {
  display: flex;
  margin-bottom: 70px;
  padding-bottom: 100px;
}
h1 {
  text-align: center;
}
.customerlist-table {
  /* display: flex; */
  margin-left: auto;
  margin-right: auto;
  background-color: wheat;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

td:hover {
  background-color: rgb(221, 215, 176);
}
.linknew-customer {
  text-align: right;
}
